<div class="col-lg-3 mb-5">
    <h2 class="section-title px-5"><span class="px-2">Kullanıcı Paneli</span></h2>
         <a href="/user"  class="dropdown-item">User Profile</a>  
         <a href="/user/orders"  class="dropdown-item">My Orders</a>  
         <a href="/user/orders_product"  class="dropdown-item">My Order Product</a>  
         <a href="/user/comments"  class="dropdown-item">My Comments</a>  
         <a href="/user/favorits"  class="dropdown-item">My Favorits</a>  
         <a href="/user/products"  class="dropdown-item">My Products</a>  
         <a href="/logout"  class="dropdown-item">Logout</a>  
</div>